/* 
#69707D



#000000
#B6BCC8

#F6F8FD
#FFEEE2
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.button-open {
  width: 20px;
  border: none;
  background: transparent;
  color: #69707D;
  margin-right: 16px;
}
@media (max-width: 395px) {
  .button-open {
    width: 6%;
  }
}
.button-open .open {
  display: none;
  margin-right: 16px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .button-open .open {
    display: block;
  }
}

.button-close {
  display: none;
  border: none;
  background: transparent;
  color: #69707D;
  margin-bottom: 53.78px;
}
@media (max-width: 767px) {
  .button-close {
    display: block;
  }
}
.button-close .close {
  font-size: 20px;
}

.navbar {
  width: 77%;
  height: 116px;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #E4E9F2;
  margin-bottom: 90px;
}
@media (max-width: 1024px) {
  .navbar {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .navbar {
    height: 67px;
  }
}
@media (max-width: 395px) {
  .navbar {
    width: 100%;
    padding: 19px 24px 20px 24px;
  }
}
.navbar .navbar__logo {
  width: 17.66%;
  height: auto;
}
@media (max-width: 1024px) {
  .navbar .navbar__logo {
    width: 22%;
  }
  .navbar .navbar__logo img {
    width: 120px;
    height: 30px;
  }
}
@media (max-width: 395px) {
  .navbar .navbar__logo {
    width: 35%;
    height: 27px;
  }
  .navbar .navbar__logo img {
    width: 100px;
    height: 27px;
  }
}
.navbar .navbar__items {
  width: 82.34%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .navbar .navbar__items {
    justify-content: end;
  }
}
@media (max-width: 395px) {
  .navbar .navbar__items {
    width: 53%;
  }
}
.navbar .navbar__items .items {
  width: 43.6%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  color: #69707D;
}
@media (max-width: 1024px) {
  .navbar .navbar__items .items {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .navbar .navbar__items .items {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 250px;
    justify-content: normal;
    align-items: start;
    padding: 25px;
    background: #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
  }
}
.navbar .navbar__items .items.items--visible {
  opacity: 1;
  visibility: visible;
}
.navbar .navbar__items .items .item {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid transparent;
}
.navbar .navbar__items .items .item:hover {
  border-bottom: 4px solid orange;
}
.navbar .navbar__items .items .item .item__link {
  text-decoration: none;
}
.navbar .navbar__items .items .item .item__link:hover {
  color: #1D2026;
}
@media (max-width: 767px) {
  .navbar .navbar__items .items .item {
    height: auto;
  }
  .navbar .navbar__items .items .item:not(:last-child) {
    margin-bottom: 20px;
  }
  .navbar .navbar__items .items .item a {
    color: #1D2026;
    font-family: "Kumbh Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
}
.navbar .navbar__items .profile {
  width: 13.1%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .navbar .navbar__items .profile {
    width: 20%;
  }
}
@media (max-width: 767px) {
  .navbar .navbar__items .profile {
    width: 15%;
  }
}
@media (max-width: 395px) {
  .navbar .navbar__items .profile {
    width: 40%;
  }
}
.navbar .navbar__items .profile .profile__cart {
  width: 30px;
  height: 30px;
  color: #69707D;
}
.navbar .navbar__items .profile .profile__cart:hover {
  color: #1D2026;
}
@media (max-width: 767px) {
  .navbar .navbar__items .profile .profile__cart {
    width: 20px;
    height: 20px;
  }
}
.navbar .navbar__items .profile .profile__cart span {
  font-size: 30px;
}
@media (max-width: 767px) {
  .navbar .navbar__items .profile .profile__cart span {
    font-size: 20px;
  }
}
.navbar .navbar__items .profile .profile__photo {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 2.5px solid transparent;
}
.navbar .navbar__items .profile .profile__photo:hover {
  border-radius: 50px;
  border: 2.5px solid #FF7E1B;
}
@media (max-width: 767px) {
  .navbar .navbar__items .profile .profile__photo {
    width: 30px;
    height: 30px;
  }
}
.navbar .navbar__items .profile .profile__photo img {
  width: 70px;
  height: 70px;
}
@media (max-width: 1024px) {
  .navbar .navbar__items .profile .profile__photo img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .navbar .navbar__items .profile .profile__photo img {
    width: 30px;
    height: 30px;
  }
}

.cart {
  display: none;
  position: absolute;
  /* width: 360px;
  height: 256px; */
  width: 22%;
  height: 32.7%;
  border-radius: 10px;
  top: 104px;
  right: 142px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  padding: 24px;
}
@media (max-width: 767px) {
  .cart {
    /* top: 19px;
    width: 55%;
    position: relative;
    left: 133px;
    height: 45%; */
    width: 80%;
    position: initial;
    height: 45%;
    right: 40px;
    left: 128px;
  }
}
@media (max-width: 395px) {
  .cart {
    /* display: block; */
    width: 95%;
    position: initial;
    height: 45%;
    right: 40px;
    left: 128px;
  }
}
.cart .cart__title {
  width: 100%;
  height: 26.6%;
  border-bottom: 1px solid #E4E9F2;
}
.cart .cart__content {
  height: 73.4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .hero {
  width: 77%;
  border: 1px solid red;
  height: 565px;
  display: flex;
  justify-content: space-around;
}
.main .hero .hero__imgs {
  height: 565px;
  border: 1px solid blue;
  display: flex;
  width: 40.27%;
  flex-direction: column;
  justify-content: space-between;
}
.main .hero .hero__imgs .img__xl {
  width: 100%;
  height: auto;
  border: 1px solid violet;
}
.main .hero .hero__imgs .img__xl img {
  width: 100%;
  height: 445px;
}
.main .hero .hero__imgs .imgs__xs {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid yellow;
}
.main .hero .hero__imgs .imgs__xs .img__item {
  width: 88px;
  height: 88px;
  border: 1px solid red;
}
.main .hero .hero__info {
  width: 40.27%;
  border: 1px solid yellowgreen;
  height: 565px;
}

/*# sourceMappingURL=styles.css.map */
