.button-open {
    width: 20px;
    border: none;
    background: transparent;
    color: #69707D;
    margin-right: 16px;

    .open {
        display: none;
        margin-right: 16px;
        font-size: 20px;

        @include medium {
            display: block;
        }
    }

}

.button-close {
    display: none;
    border: none;
    background: transparent;
    color: #69707D;
    margin-bottom: 53.78px;
    @include medium {
        display: block;
    }
    .close {
        font-size: 20px;
    }
}