.cart {
    display: none;
    top: 104px;
    padding: 24px;
    border-radius: 10px;
    background: $white;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
    /* display: block; */
    position: absolute;
    height: auto;
    /* width: calc(96% - 2px); */
    /* right: 0;
    left: 0;
    margin: 0 auto; */

    right: 142px;
    width: 35%;


    @include medium {
        width: calc(96% - 2px);
        height: 45%;
        right: 40px;
        left: 128px;
        position: initial;
        margin-top: 20px;
        z-index: 1;
    }

    @include x-small {
        display: block;
        position: absolute;
        height: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 18%;
    }

    .cart__title {
        width: 100%;
        height: 26.6%;
        border-bottom: 1px solid $lineGrey;
        margin-bottom: 24px;

        @include x-small {
            margin-bottom: 27px;

            h3 {
                font-size: 16px;
            }
        }
    }

    .cart__empty {
        display: none;
        height: 73.4%;
        width: 100%;
    }

    .cart__buy {
        width: 100%;

        .buy__content {
            display: flex;
            margin-bottom: 24px;
            justify-content: space-between;
            align-items: center;

            .buy__img {
                width: 50px;
                height: 50px;

                @include x-small {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .buy__texts {
                color: #69707D;
                font-family: "Kumbh Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;

                .total-price {
                    color: #1D2026;
                    font-family: "Kumbh Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26px;
                }
            }

            .delete-icon {
                color: #C3CAD9;
                @include x-small {
                    span {
                        font-size: 18px;
                    }
                }
            }
        }

        .info__button {
            width: 100%;
            height: 56px;
        }
    }

}