.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    .hero {
        width: 90%;
        display: flex;
        justify-content: space-evenly;

        height: auto;
        margin-bottom: 132px;

        @include large-screen {
            width: 95%;
        }

        @include m-large {
            width: 98%;
        }

        @include medium {
            flex-direction: column;
        }

        @include x-small {
            width: 100%;
            margin-bottom: 88px;
        }

        .hero__imgs {
            /* width: 40.27%; */
            width: 445px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid yellowgreen;

            @include large-screen {
                width: 30.27%;
            }

            @include x-small {
                width: 100%;
            }

            .img__xl {
                width: 100%;
                height: auto;
                @include x-small {
                    position: relative;
                }

                img {
                    width: 100%;
                    height: 300px;
                    content: url('../../img/shoes-mobile.jpg');

                }
            }

            .imgs__xs {
                height: auto;
                width: 100%;
                flex-wrap: wrap;
                @include flex-group(flex, space-between, end);

                @include x-small {
                    display: none;
                }

                .img__item {
                    width: 88px;
                    height: 88px;
                    border: 1px solid red;
                }
            }
        }

        .hero__info {
            width: 40.27%;
            height: 565px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include large-screen {
                width: 30.27%;
            }

            @include x-small {
                width: 100%;
                height: auto;
                padding: 24px 24px 0 24px;
            }

            .info__company {
                letter-spacing: 2px;
                margin-bottom: 27px;
                text-transform: uppercase;
                @include typography(13px, 700, normal, normal, $primaryColor);

                @include x-small {
                    font-size: 12px;
                    letter-spacing: 1.846px;
                }
            }

            .info__title {
                margin-bottom: 32px;
                @include typography(44px, 700, 48px, normal, $grey-dark);

                @include x-small {
                    font-size: 28px;
                    line-height: 32px;
                }
            }

            .info__paragraph {
                margin-bottom: 28px;
                @include typography(16px, 400, 26px, normal, $grey);

                @include x-small {
                    font-size: 15px;
                    line-height: 25px;
                }
            }

            .info__amount {
                width: 100%;
                display: flex;
                margin-bottom: 24px;
                height: auto;
                justify-content: space-between;
                align-items: center;

                .info__price {
                    display: flex;
                    align-items: center;

                    p {
                        margin-right: 16px;
                        @include typography(28px, 700, normal, normal, $grey-dark);
                    }

                    span {
                        width: 51px;
                        height: 27px;
                        border-radius: 6px;
                        background: #FFEEE2;
                        @include flex-group(flex, center, center);
                        @include typography(16px, 700, normal, normal, $primaryColor);
                    }
                }

                .info__discount {
                    text-decoration: line-through;
                    @include typography(16px, 700, 26px, normal, $grey-number);
                }

            }


            .info__cart {
                width: 100%;
                @include flex-group(flex, space-between, center);

                @include x-small {
                    flex-direction: column;
                }

                .info__counter {
                    width: 157px;
                    height: 56px;
                    margin-right: 16px;
                    border-radius: 10px;
                    background: $grey-bc;
                    padding: 19px 16px 19px 16px;
                    @include flex-group(flex, space-between, center);

                    @include x-small {
                        width: 100%;
                        margin-bottom: 16px;
                        margin-right: 0px;
                    }

                    span {
                        @include typography(16px, 700, normal, normal, $grey-dark);
                    }
                }

            }
        }
    }
}